@import "base.css";
body{
  background-color: #f5f5f5;
}
.color{
  background-color: #FFFFFF;
}
//导航栏

//卡片
.cards_title{
  position: relative;
  margin:20px 0 30px 0;
  .cards_t{
    text-align:center;
    font-size: 30px;
  }
  .gd{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    &>a{
      text-decoration: none;
      color: #666666;
    }
    &>a:hover{
      color: tomato;
    }
  }
}
.card_con{
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
  .card_box{
    width: 218px;
    height: 252px;
    padding: 0;
    margin: 0;
    border-radius:5px ;
    overflow:auto;
    position: relative;
    box-shadow: 2px 2px 10px 2px gray;
    &>.top{
      height: 130px;
      width: 100%;
      .top_img{
        height: 130px;
        &>img{
          width: 100%;
          height: 100%;
        }
      }
    }
    .title{
      width: 100%;
      height: 40px;
      line-height: 25px;
      padding: 10px;
      box-sizing: border-box;
      &>a{
        color: black;
        text-decoration: none;

      }
    }
    .bottom{
      position: absolute;
      height: 60px;
      width: 100%;
      display: flex;
      flex-direction: column;
      bottom: 0;
      .score{
        margin: 0px 10px;
        flex: 1;
        position: relative;
        span{
          .star1{
            position: absolute;
            left: 0;
            top: 0;
            width: 57px;
            height: 100%;
            background-image: url("../assets/images/tubiao.png");
            background-position: -311px -50px;
          }
          .star2{
            position: absolute;
            left: 0;
            top: 0;
            z-index: 99;
            width: 40px;
            height: 100%;
            background-image: url(../assets/images/tubiao.png);
            background-position: 200px -328px;
          }
        }

        .scs{
          //width: 50px;
          //height: 100%;
          position: absolute;
          top: 0;
          left:57px;
        }

      }
      .dz{
        margin: 5px 10px;
        flex: 1;
      }
    }
  }
}

//学院新闻
.articles{
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  .left,.right{
    width: 45%;
    height: 146px;
    padding: 10px;
    display: flex;
    border-radius: 10px;
    &:hover{
      box-shadow: 0 0 5px 5px lightgray;
    }
    ul{
      list-style: none;
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 10px;
      li{
        line-height: 20px;
        width: 100%;
        display: flex;
        flex:1;
        margin-top: 10px;
        a{
          flex: 3;
          text-decoration: none;
          display: block;
          font-size: 15px;
          color: black;
          &:hover{
            color: red;
          }
        }
        span{
          flex: 2;
          text-align: right;
          font-size: 15px;
          color: lightgray;
        }
      }
    }

  }
}
