<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>卡片</title>
    <link rel="stylesheet" href="card.css">
</head>
<body>
<div class="card_box">
    <div class="top">
        <span class="tag_cx">热门</span>
        <div class="top_img"><img src="../../assets/images/lb1.png" alt=""></div>
    </div>
    <div class="title"><a href="#">哲学课程有你也有我</a></div>
    <div class="bottom">
        <div class="score">
            <span>
                <i class="star1"></i>
                <i class="star2"></i>
            </span>
            <div class="scs"><em>3.5分</em></div>
        </div>
        <div class="dz iconfont icon-dianzan1">3人好评</div>
    </div>
</div>
</body>
</html>