<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="teacher_d.css">
</head>
<body>

<div class="t_card">
    <div class="top">
        <div class="touxiang">
            <img src="../../assets/images/zcs.png" alt="">
        </div>
        <div class="center">
            <span class="name">腾讯CTO: 张三丰</span><span class="biao">星级讲师</span>
            <div class="course">课程: 1 门</div>
        </div>
        <div class="right">
            <a href="" >进入主页</a>
        </div>
    </div>
    <div class="detail">
        <p>一代宗师, 出课极多</p>
    </div>
</div>
</body>
</html>