<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./pingjia.css">
</head>
<body>
<div class="evaluate">
    <div class="evaluate_t">
        评价
    </div>
    <div class="evaluate_s">
        <div class="comment_card">
            <div class="comment_user">
                <div class="img">
                    <img src="../../assets/images/4.png" alt="tx" height="35">
                </div>
                <div class="text">
                    <div class="name1">
                        <div class="name">撩课1号</div>
                        <div class="point">
                            <i class="star_gray"></i>
                            <i class="star_yel"></i>
                        </div>
                    </div>
                    <div class="time">
                        2020年07月18日 18:20:56
                    </div>
                </div>
            </div>
            <div class="comment_value">
                <p>课程很棒, 受益匪浅</p>
            </div>
     </div>
</div>
</div>
</body>
</html>