<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/index.css">
    <title>Document</title>
</head>
<body>
    <div class="index">
        <div class="left">
            <div class="top">
                <p>撩课云课堂 是掘智公司（itlike.com）旗下专注职业技能提升的在线学习平台</p>
            </div>
            <div class="content">
                <a href="javascript:void(0)">关于我们</a>
                <a href="javascript:void(0)">联系我们</a>
                <a href="javascript:void(0)">帮助中心</a>
                <a href="javascript:void(0)">撩课论坛</a>
            </div>
            <div class="footer">
                <p>©2018-2020 课程内容版权均归 撩课教育 所有 沪ICP备18036896号</p>
            </div>
        </div>
        <div class="right">
            <div class="icon">
                <div class="weibo">
                    <img src="./image/weibo.png" alt="微博">
                </div>
                    <div class="weixin">
                        <img src="./image/weixin.png" alt="微信">
                        <div class="erweima">
                            <img src="./image/erweima.png" alt="">
                        </div>
                    </div>
                    

            </div>
            <div>
                <p><span class="kefu">客服热线</span><span class="time">09:00-19:00</span></p>
            </div>
            <div>
                <p class="kefu">0558-8888888</p>
            </div>
        </div>
    </div>
</body>
</html>