<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>明星讲师</title>
    <link  rel="stylesheet" href="./index.css">

</head>
<body>
<div class="tcbox">
    <div class="tctop">
        <p>- 明 . 星 . 讲 . 师 -</p>
        <a href="#">更多></a>
    </div>
    <div class="tccontent">
      <ul>
          <li class="t_card">
              <div class="t_left">
                  <a href="#">
                      <img src="./../../assets/images/zsf.png" alt="t1">
                      <div class="t_name">张三丰</div>
                  </a>
              </div>
              <div class="t_right">
                  <div class="t_name">腾讯CTO</div>
                  <div class="t_dec">一代宗师, 出课极多</div>
              </div>
          </li>
          <li class="t_card">
              <div class="t_left">
                  <a href="#">
                      <img src="./../../assets/images/zcs.png" alt="t1">
                      <div class="t_name">张翠山</div>
                  </a>
              </div>
              <div class="t_right">
                  <div class="t_name">协程CTO</div>
                  <div class="t_dec">一双勾勾剑, 猛的狠的狠</div>
              </div>
          </li>
          <li class="t_card">
              <div class="t_left">
                  <a href="#">
                      <img src="./../../assets/images/yx.png" alt="t1">
                      <div class="t_name">杨逍</div>
                  </a>
              </div>
              <div class="t_right">
                  <div class="t_name">阿里CEO</div>
                  <div class="t_dec">一生逍遥</div>
              </div>
          </li>
      </ul>
    </div>
</div>


</body>
</html>