<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>卡片上半部分</title>
    <link rel="stylesheet" href="kctop.css">
</head>
<body>
<div class="bx course_top">
    <div class="left">
        <img src="../../assets/images/lb1.png" alt="">
    </div>
    <div class="right">
        <div class="right_top">
            <h2>课程标题</h2>
            <span>评分:4分&nbsp;&nbsp;&nbsp;评价人数:3人</span>
            <p>讲师: 张翠山</p>
        </div>
        <div class="right_bottom">
            <div class="b">
                <div class="btn"><div>登录</div></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>