.news_box{
  width: 1205px;
  height: 200px;
  margin: 65px auto;
  box-sizing: border-box;

  .title{
    //background-color: green;
    position:relative;
    height: 32px;
    span{
      font-size: 32px;
      position: absolute;
      color: #780000;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
    a{
      text-decoration: none;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      color: black;
      &:hover{
        color: red;
      }
    }
  }
  .articles{
    width: 100%;
    height: 160px;
    display: flex;
    .news{
      height: 150px;
      width: 50%;
      box-sizing: border-box;
      border: 1px solid darkgrey;
      list-style: none;
      flex: 1;
      margin-top: 10px;
      padding: 15px;
      border-radius: 5px;
      display: flex;
      flex-direction: column;

      &:hover{
        box-shadow: 0 0 2px 2px grey;
      }
      li{
        flex:1;
        display: flex;
        a{
          flex:3;
          text-decoration: none;
          color: black;
          &:hover{
            color: red;
          }
        }
        span{
          flex:2;
          color: lightgrey;
        }
      }
    }
    .left{
      margin-right: 50px;
    }
    .right{
      margin-left: 50px;
    }
  }
}
